{% extends 'base.html.twig' %}
{% block body %}
Page Technicien

Liste des opérations<br>
<table>
    <tr >
        <td>Sujet</td>
        <td>Date de début d'intervention</td>
        <td>Date de fin d'intervention</td>
        <td>Description de l'intervention</td>
        <td>Pièce</td>
        <td>Note du technicien</td>

    <tr>
        {% for key,operation in operations %}
        <td>{{ operation.getSujet() }}</td>
        <td>{{ operation.getDateDebut | date ("d/m/Y") }}</td>
        <td>{{ operation.getDateFin | date ("d/m/Y") }}</td>
        <td>{{ operation.getDescription() }}</td>
        <td>{{ operation.getPiece() }}</td>
        <td>{{ operation.getNoteTech() }}</td>
        <td> <a class="btn btn-danger" href="{{ path('operation_remove_id', {'id': operation.id} ) }}" role="button"> Suppression d'une opération en base</a></td>
        <td><a class="btn btn-danger" href="{{ path('operation_edit', {'id': operation.id} ) }}" role="button"> Sélection d'une opération en base</a>

    </tr>
    {% endfor %}
</table>
<br>
<a href="pageOperationInsert">ajout</a><br>

<table>
    <tr >
        <th>Type</th>
        <th>Date d'achat du véhicule</th>
        <th>Opération en cours </th>
        <th>Problème</th>
    <tr>
        {% for key,vehicule in vehicules %}
        <td>{{ vehicule.getType() }}</td>
        <td>{{ vehicule.getdateAchat | date ("d/m/Y") }}</td>
        <td>{{ vehicule.getOperation }}</td>
        <td>{{ vehicule.getProbleme() }}</td>
    </tr>
    {% endfor %}
</table>

<a href="tdb"> Retour au tableau de bord</a><br>
{% endblock %}
