{% extends 'base.html.twig' %}
{% block body %}
<h1>Le véhicule {{ vehicule.getId() }} est sélectionné : </h1>
<table>
    <tr>
        <td>{{ vehicule.getType() }}</td>
        <td>{{ vehicule.getDateAchat()| date('d/m/Y') }}</td>
        <td>{{ vehicule.getOperation() }}</td>
        <td>{{ vehicule.getProbleme()  }}</td>
    </tr>
</table>
{% endblock %}