{% extends 'base.html.twig' %}
{% block body %}
 {#affichage des champs du formulaire un par un grace à la variable formTechnicien#}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href={{ path('tdb') }}>Tableau de bord <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('pageTechnicien') }}>Technicien</a>
                </li>
            </ul>
        </div>
    </nav>
{{ form_start (formOperation) }}
    {{ form_row (formOperation.sujet) }}
    {{ form_row (formOperation.dateDebut) }}
    {{ form_row (formOperation.dateFin) }}
    {{ form_row (formOperation.description) }}
    {{ form_row (formOperation.piece) }}
    {{ form_row (formOperation.noteTech) }}
    <input type="submit" value = "Enregistrer une opération" />
{{ form_end (formOperation) }}

{% endblock %}
