
{% extends 'base.html.twig' %}
{% block body %}


Page Gestionnaire

    Liste des véhicules <br>
    <table>
        <tr >
            <th>Type</th>
            <th>Date d'achat</th>
            <th>Opération</th>
            <th>Problème</th>
        <tr>
            {% for key,vehicule in vehicules %}
            <td>{{ vehicule.getType() }}</td>
            <td>{{ vehicule.getDateAchat | date ("d/m/Y") }}</td>
            <td>{{ vehicule.getOperation() }}</td>
            <td>{{ vehicule.getProbleme() }}</td>
            <td> <a class="btn btn-danger" href="{{ path('vehicule_remove_id', {'id': vehicule.id} ) }}" role="button"> Suppression d'un véhicule en base</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="pageVehiculeInsert">ajout</a><br>
    <a href="tdb">  Retour au tableau de bord</a><br>
{% endblock %}








