{% extends 'base.html.twig' %}
{% block body %}
<h1>L'opération {{ opération.getSujet() }} est sélectionnée : </h1>
<table>
    <tr>

        <td>{{ musicien.getName()}}</td>
        <td>{{ musicien.getInstrument() }}</td>
        <td>{{ musicien.getMail() }}</td>
        <td>{{ musicien.getCreatedAt() | date('d/m/Y H:i') }}</td>
    </tr>
</table>
<input type="submit" value="Confirmer la modification" />

{% endblock %}
