{% extends 'base.html.twig' %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="tdb">Tableau de bord <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('pageGestionnaire') }}>Gestionnaire</a>
                </li>
            </ul>
        </div>
    </nav>

    <div align="center" ><h2 >Page Gestionnaire</h2></div><br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ path('pageVehicule_insert')}}>Ajout d'un véhicule</a>
                </li>
            </ul>
        </div>
    </nav>


    <br>
    <h5 style="text-decoration:underline">Liste des véhicules : </h5><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Date d'achat du véhicule</th>
            <th scope="col">Opération en cours</th>
            <th scope="col">Problème</th>
        </tr>
        </thead>

        <tbody>

        {% for key,vehicule in vehicules %}
            <tr>
            <td>{{ vehicule.getType()}}</td>
            <td>{{ vehicule.getDateAchat|date('d/m/Y') }}</td>
            <td>{{ vehicule.getOperation }}</td>
            <td>{{ vehicule.getProbleme() }}</td>
            <td><a type="button" class="btn btn-outline-info" href="{{ path('vehicule_view_id', {'id': vehicule.id} ) }}">Visualiser un véhicule</a></td>
            <td><a type="button" class="btn btn-outline-warning" href="{{ path('vehicule_remove_id', {'id': vehicule.id} ) }}">Suppression d'un véhicule</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% endblock %}








