{% block body %}
Page Administrateur<br>
Liste des gestionnaires<br>
    <table>
            <tr >
                <th>Nom</th>
                <th>Prénom</th>
            <tr>
                {% for key,gestionnaire in gestionnaires %}
                <td>{{ gestionnaire.getNom() }}</td>
                <td>{{ gestionnaire.getPrenom() }}</td>
            <td> <a class="btn btn-danger" href="{{ path('gestionnaire_remove_id', {'id': gestionnaire.id} ) }}" role="button"> Suppression d'un gestionnaire en base</a></td>
            </tr>
        {% endfor %}
    </table>
<br>

<a href="pageGestionnaireInsert">  Ajout d'un gestionnaire</a><br>

Liste des techniciens<br>
    <table>
        <tr >
            <th>Nom</th>
            <th>Prénom</th>
        <tr>
            {% for key,technicien in techniciens %}
            <td>{{ technicien.getNom() }}</td>
            <td>{{ technicien.getPrenom() }}</td>
            <td> <a class="btn btn-danger" href="{{ path('technicien_remove_id', {'id': technicien.id} ) }}" role="button"> Suppression d'un techncien en base</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
<a href="pageTechnicienInsert">  Ajout d'un technicien tech</a><br>
<a href="tdb">Retour au tableau de bord</a><br>

{% endblock %}