Page Tableau de bord<br>

<a href="pageAdmin">Lien vers page administrateur</a><br>
<a href="pageGestionnaire">Lien vers page gestionnaire</a><br>
<a href="pageTechnicien">Lien vers page technicien</a><br>


Graphique des opérations<br>

Liste des opérations<br>
<table>
    <tr >
        <th>Sujet</th>
        <th>Date de début d'intervention</th>
        <th>Date de fin d'intervention</th>
        <th>Description de l'intervention</th>
        <th>Pièce</th>
        <th>Note du technicien</th>

    <tr>
        {% for key,operation in operations %}
        <td>{{ operation.getSujet() }}</td>
        <td>{{ operation.getDateDebut | date ("d/m/Y") }}</td>
        <td>{{ operation.getDateFin | date ("d/m/Y") }}</td>
        <td>{{ operation.getDescription() }}</td>
        <td>{{ operation.getPiece() }}</td>
        <td>{{ operation.getNoteTech() }}</td>
    </tr>
    {% endfor %}
</table>
<br>


<table>
    <tr >
        <th>Type</th>
        <th>Date d'achat du véhicule</th>
        <th>Opération en cours </th>
        <th>Problème</th>

    <tr>
        {% for key,vehicule in vehicules %}
        <td>{{ vehicule.getType() }}</td>
        <td>{{ vehicule.getdateAchat | date ("d/m/Y") }}</td>
        <td>{{ vehicule.getOperation }}</td>
        <td>{{ vehicule.getProbleme() }}</td>

    </tr>
    {% endfor %}
</table>

